@model Client.ViewModels.ViewModel

@{
    ViewData["Title"] = "Kabag | Tambah Barang";
    Layout = "_LayoutKabag";

}

    @section Sidebar{
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Pengadaan Barang</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active ">
            <a class="nav-link" asp-action="Index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Daftar Barang -->
        <li class="nav-item ">
            <a asp-action="Barang" class="nav-link">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Barang</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Daftar Supplier -->
        <li class="nav-item">
            <a asp-action="Supplier" class="nav-link">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Supplier</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Daftar Satuan -->
        <li class="nav-item">
            <a asp-action="Satuan" class="nav-link">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Satuan</span>
            </a>
        </li>

        <!-- Nav Item - Riwayat -->
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Riwayat</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tammbah Daftar Barang</h6>
    </div>
    <div class="container mt-4">
        <div class="form">
            <form asp-action="CreateBarang">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="@Model.product.NamaProduk" class="control-label">Nama Produk</label>
                    <input asp-for="@Model.product.NamaProduk" class="form-control" />
                    <span asp-validation-for="@Model.product.NamaProduk" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.product.IdSatuan" class="control-label">Satuan</label>
                    <select asp-for="@Model.product.IdSatuan" class="form-control" asp-items="@Model.Supplier"></select>
                    <input asp-for="@Model.product.IdSatuan" class="form-control" />
                    <span asp-validation-for="@Model.product.IdSatuan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.product.HargaProduct" class="control-label"></label>
                    <input asp-for="@Model.product.HargaProduct" class="form-control" />
                    <span asp-validation-for="@Model.product.HargaProduct" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.product.StockProduct" class="control-label"></label>
                    <input asp-for="@Model.product.StockProduct" class="form-control" />
                    <span asp-validation-for="@Model.product.StockProduct" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.product.IdSupplier" class="control-label"></label>
                    <input asp-for="@Model.product.IdSupplier" class="form-control" />
                    @*<select asp-for="@Model.product.IdSupplier" class="form-control" asp-items="@Model.Supplier"></select>*@
                    <span asp-validation-for="@Model.product.IdSupplier" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="CreateBarang" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
    