@section CSS{
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
    @model Client.ViewModels.ViewModel
@{
    ViewData["Title"] = "Kabag | Edit SPB";
    Layout = "_LayoutKabag";

}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Edit Pengajuan Barang</h6>
    </div>
    <div class="card-body">
        <form asp-action="EditSPB">
            <div class="form-group">
                <label for="divisi"> ID</label>
                <input asp-for="@Model.pengadaan.Id" type="text" disabled class="form-control" id="id" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="divisi"> Nama Divisi</label>
                <input asp-for="@Model.pengadaan.IdDivisi" type="text" disabled class="form-control" id="id" aria-describedby="emailHelp" asp-value="1">
             </div>
             <div class="form-group">
                <label for="divisi"> Pilih Barang</label>
                <select asp-for="@Model.pengadaan.IdBarang" class="form-control" asp-items="@Model.Produck" disabled></select>
             </div>
             <div class="form-group">
                <label for="supplier"> Pilih Supplier</label>
                <select asp-for="@Model.pengadaan.IdSupplier" class="form-control" asp-items="@Model.Supplier"></select>
             </div>
             <div class="form-group">
                <label for="divisi"> Kuantitas</label>
                <input asp-for="pengadaan.Kuantitas" type="number" class="form-control" id="kuantitas" aria-describedby="emailHelp">
             </div>
             <div class="form-group">
                <input asp-for="@Model.pengadaan.IdStatus" type="hidden" value="1" class="form-control" id="id" aria-describedby="emailHelp">
             </div>
             <button type="submit" class="btn btn-primary" value="Save">Simpan</button>
        </form>
    </div>
</div>



@section Scripts{

}
