@section CSS{
     <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
    @model IEnumerable<Client.Models.Pengadaan>
        @*@model IEnumerable<Client.ViewModels.ViewModel>*@
@{
    ViewData["Title"] = "Kabag | Homepage";
    Layout = "_LayoutKabag";

}
@section Sidebar{
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-action="Index">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Pengadaan Barang</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active ">
            <a class="nav-link" asp-action="Index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Daftar Barang -->
        <li class="nav-item ">
            <a asp-action="Barang" class="nav-link">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Barang</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Daftar Supplier -->
        <li class="nav-item">
            <a asp-action="Supplier" class="nav-link">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Supplier</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Daftar Satuan -->
        <li class="nav-item">
            <a asp-action="Satuan" class="nav-link">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Satuan</span>
            </a>
        </li>
          <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Daftar Divisi -->
        <li class="nav-item">
            <a asp-action="Divisi" class="nav-link">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Divisi</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Riwayat -->
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Riwayat</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
}
<!-- Button trigger modal -->
<a asp-action="CreateSPB">
    <button type="button" class="btn btn-primary ml-4 mt-2 mb-4">
        Buat Permohonan Pengadaan Barang
    </button>
</a>

 <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Daftar Pengajuan Barang</h6>
    </div>
     <div class="card-body">
         <table id="dataTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Produk</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Kuantitas</th>
                    <th scope="col">Total</th>
                    <th scope="col">Divisi</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody >
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PengaadanGuid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdBarangNavigation.NamaProduk)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdSupplierNavigation.Nama)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kuantitas)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Totals)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.IdDivisiNavigation.Nama) 
                            @*harusnya gausah pake*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdStatusNavigation.Name)
                        </td>


                        <td>
                            @if(item.IdStatus == 1){
                                <a type="button" class="btn btn-info btn-sm" asp-action="EditSPB" asp-route-id="@item.Id">Edit</a>
                                
                                <a type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#detail">Details</a>
                                <a type="button" class="btn btn-danger btn-sm"  data-toggle="modal" data-target="#hapus">Delete</a>

                                <!-- Modal Hapus Data -->
                                <div class="modal fade" id="hapus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Hapus Data</h5>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form >
                                                <div class="modal-body">
                                                    <p>Apakah anda yakin ingin menghapus data ?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary" asp-action="DeleteSPB" asp-route-id="@item.Id">Yes</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            }

                            @if (item.IdStatus != 1)
                            {
                                <a type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#detail">Details</a>
                            }
                            <!-- Modal Detail Data -->
                            <div class="modal fade" id="detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Detail SPD</h5>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Informasi Barang</p>
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Nama Barang</th>
                                                        <th scope="col">Supplier</th>
                                                        <th scope="col">Harga Satuan</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@item.IdBarangNavigation.NamaProduk</td>
                                                        <td>@item.IdSupplierNavigation.Nama</td>
                                                        <td>@item.IdBarangNavigation.HargaProduct</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p>Informasi Supplier</p>
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">No</th>
                                                        <th scope="col">Nama Supplier</th>
                                                        <th scope="col">Alamat</th>
                                                        <th scope="col">Kota</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>@item.IdSupplierNavigation.Nama</td>
                                                        <td>@item.IdSupplierNavigation.Alamat</td>
                                                        <td>@item.IdSupplierNavigation.Kota</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </td>


                    </tr>
                }
            </tbody>
           </table>
    </div>
</div>



@*<!-- Modal Pengajuan Barang X ga jadi, pindah ke halaman baru Create SPB-->
<div class="modal fade" id="pengajuan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buat Pengajuan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="CreateSPB">
                    <div class="form-group">
                        <label for="divisi"> ID</label>
                        <input asp-for="@Model.pengadaan.Id" type="text" disabled class="form-control" id="id" aria-describedby="emailHelp" >
                    </div>
                    <div class="form-group">
                        <label for="divisi"> Nama Divisi</label>
                        <input asp-for="@Model.pengadaan.IdDivisi" type="text" disabled class="form-control" id="id" aria-describedby="emailHelp" asp-value ="1">

                    </div>
                    <div class="form-group">
                        <label for="divisi"> Pilih Barang</label>
                        <select asp-for="@Model.pengadaan.IdBarang" class="form-control" asp-items="@Model.Produck"></select>
                    </div>
                    <div class="form-group">
                        <label for="supplier"> Pilih Supplier</label>
                        <select asp-for="@Model.pengadaan.IdSupplier" class="form-control" asp-items="@Model.Supplier"></select>
                    </div>
                    <div class="form-group">
                        <label for="divisi"> Kuantitas</label>
                        <input asp-for="pengadaan.Kuantitas" type="number" class="form-control" id="kuantitas" aria-describedby="emailHelp">
                    </div>
                   
                    <div class="form-group">
                        <input asp-for="@Model.pengadaan.IdStatus" type="hidden" value="1" class="form-control" id="id" aria-describedby="emailHelp">
                    </div>


                    <button type="submit" class="btn btn-primary" value="CreateData">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>*@

<!-- Modal Detail-->
<div class="modal fade" id="detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detail Pengajuan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

@section Scripts{

        <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>



}
